h1 {
    color: #FCA205;
    font-family: 'Lobster';
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h2 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


.posts {
    margin-left: 40px;
    margin-right: 40px;
}

.post {
    border-radius: 25px;
    padding: 20px;
    background-color: #fffccf;
    margin-bottom: 70px;
}

.post p {
    font-family: "Source Code Pro";
    font-size: 16px;
    padding-left: 30px;
}

.post-date {
    float: right;
    background-color: #FCA205;
    padding: 20px;
    padding-left: 0px;
    border-radius: 25px;
}

.post-author p{
    padding-left: 40px;
}

/* */

.post:nth-child(even){
    background-color: #f4f379;
}

